{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block title %}{{ 'Annuaire des Français·es au Brésil' | trans }}{% endblock %}

{% block body %}
    {{ include('common/header.html.twig') }}
    <main>
        {{ include('common/modals/modal-contact.html.twig') }}
        {{ include('common/modals/modal-sent-message.html.twig') }}
        <div class="row hide-on-med-and-down mt-2">
            <div class="col s12">
                <div class="row center">
                    <h2>{{ 'Bienvenue sur l´annuaire des Français·es de l’étranger au Brésil' | trans }}</h2>
                    <p>{{ 'Outil de mise en relation entre personnes françaises au Brésil.' | trans }}</p>
                </div>
            </div>
        </div>
        <div class="row mt-2 hide-on-med-and-up">
            <div class="col s12  m7">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">pin_drop</i>
                        {% include 'common/select-localization.html.twig' with { 'regions' : regions, 'device': 'mobile'} %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align mt-2">
            <div class="col s12  m7">
                <div class="row">
                    <div class="input-field col s12">
                        <form action="{{ app.request.uri }}" method="get" class="left-align">
                            <i class="material-icons prefix">search</i>
                            <input type="hidden" name="fr" value="{{ app.request.get('fr') }}"/>
                            <input type="hidden" name="lang" value="{{ app.request.get('lang') }}"/>
                            <input type="text" id="search-input" name="q" class="autocomplete"
                                   placeholder="{{ 'Par profession, centre intérêt...' | trans }}"
                                   value="{{ app.request.get('q') }}">
                            <label for="autocomplete-input">{{ 'Rechercher' | trans }}</label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col m5 hide-on-small-and-down">
                <div class="row">
                    <div class="col s6 right-align" style="line-height: 75px;">
                        <span>{{ 'Situé·e à/au' | trans }}</span>
                    </div>
                    <div class="input-field col s6 left-align">
                        {% include 'common/select-localization.html.twig' with { 'regions' : regions, 'device': 'desktop'} %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col s12 m6">
                <p class="text-center md:text-left">
                    <span>{{ 'Personnes correspondant à la recherche' | trans }} :</span> <span
                            class="french-count">{{ total_found }}</span>
                </p>
            </div>
            {# <div class="col m6 text-right hide-on-small-and-down">
                <ul class="pagination ">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active purple"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div> #}
        </div>
        <div class="sm:overflow-y-auto">
            <div class="row">
                {% if member_list is not empty %}
                    {% for member in member_list %}
                        <div class="col s12 m6">
                            {{ include('home/card/card-member.html.twig', {member: member}) }}
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="center-align"><em>{{ 'Nous avons trouvé personne avec ces critères' | trans }}</em></p>
                {% endif %}
            </div>
        </div>
    </main>
    {{ include('common/footer.html.twig', {lang_switcher: true}) }}
{% endblock %}
