{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block title %}{{ 'Annuaire des Français.e.s au Brésil' | trans }}{% endblock %}

{% block body %}
    {{ include('common/header.html.twig') }}
    <main>
        {{ include('common/modals/modal-contact.html.twig') }}
        {{ include('common/modals/modal-sent-message.html.twig') }}
        <div class="row hide-on-med-and-down mt-2">
            <div class="col s12">
                <div class="row center">
                    <h2>{{ 'Bienvenue sur l´annuaire des Français.e.s du Brésil' | trans }}</h2>
                    <p>{{ 'Outil de recherche et de mise en relation avec une personne française au Brésil.' | trans }}</p>
                </div>
            </div>
        </div>
        <div class="row mt-2 hide-on-med-and-up">
            <div class="col s12  m7">
                <div class="input-field col s12">
                    <i class="material-icons prefix">pin_drop</i>
                    {% include 'common/select-localization.html.twig' with { 'regions' : regions, 'device': 'mobile'} %}
                </div>
            </div>
        </div>
        <div class="row center-align mt-2">
            <div class="col s12  m7">
                <div class="row">
                    <div class="input-field col s12">
                        <form action="{{ app.request.uri }}" method="get">
                            <i class="material-icons prefix">search</i>
                            <input type="hidden" name="fr" value="{{ app.request.get('fr') }}" />
                            <input type="hidden" name="lang" value="{{ app.request.get('lang') }}" />
                            <input type="text" id="search-input" name="q" class="autocomplete"
                                   placeholder="{{ 'Par profession, centre intérêt...' | trans }}" value="{{ app.request.get('q') }}">
                            <label for="autocomplete-input">{{ 'Rechercher' | trans }}</label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col m5 hide-on-small-and-down">
                <div class="row">
                    <div class="col s6 right-align" style="line-height: 75px;">
                        <span>{{ 'Situé.e' | trans }}</span>
                    </div>
                    <div class="input-field col s6 left-align">
                        {% include 'common/select-localization.html.twig' with { 'regions' : regions, 'device': 'desktop'} %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col s12 m6">
                <p class="text-center md:text-left">
                    <span>{{ 'Français.e.s trouvé.e.s' | trans }} :</span> <span
                            class="french-count">{{ total_found }}</span>
                </p>
            </div>
            <div class="col m6 text-right hide-on-small-and-down">
                <ul class="pagination ">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active purple"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
        <div class="sm:overflow-y-auto">
            <div class="row">
                {% if member_list is not empty %}
                    {% for member in member_list %}
                        <div class="col s12 m6">

                            <div class="card">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s4">
                                            <i class="avatar-empty fa fa-user-circle"></i>
                                        </div>
                                        <div class="col s8">
                                            <h3 class="card-title mt-1">{{ member.prenom | e }} {{ member.nom | e }}
                                                {% if member.region.sigla is not empty or member.municipio.nome is not empty %}
                                                <span class="badge">
                                                    {% if member.municipio.nome is not empty %}
                                                        {{ member.municipio.nome }}
                                                    {% endif %}
                                                    {% if member.region.sigla is not empty or member.municipio.nome is not empty %}
                                                    -
                                                    {% endif %}
                                                    {% if member.region.sigla is not empty %}
                                                        {{ member.region.sigla }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </h3>
                                            {% if member.statut_professionnel is not empty %}
                                                <h4>{{ member.statut_professionnel | trans }}</h4>
                                            {% endif %}
                                            {% if member.activites_pro is not empty %}
                                                <h4>{{ 'Profession(s)' | trans }}</h4>
                                                <ul>
                                                    {% for activite_pro in member.activites_pro %}
                                                        <li>{{ activite_pro.appelation_metier | trans }}</li>
                                                    {% endfor %}
                                                </ul>
                                                <hr class="my-2"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if member.centres_interets is not empty %}
                                        <div class="chips">
                                            <h4>{{ 'Centres d´intérêts' | trans }}</h4>
                                            {% for centre_interet in member.centres_interets %}
                                                <div class="chip">{{ centre_interet.label | trans }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if member.centres_interets is not empty %}
                                        <div class="chips">
                                            <h4>{{ 'Connaissances' | trans }}</h4>
                                            {% for connaissance in member.connaissances %}
                                                <div class="chip">{{ connaissance.label | trans }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if member.pratiques_asso is not empty %}
                                        <div class="chips">
                                            <h4>{{ 'Pratiques associatives/collectives' | trans }}</h4>
                                            {% for pratique_asso in member.pratiques_asso %}
                                                <div class="chip">{{ pratique_asso.label | trans }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-action">
                                    <div class="row">
                                        <div class="col s6 left-align">
                                            <a class="waves-effect waves-light btn"><i class="fa fa-search-plus"></i> {{ 'Voir plus' | trans }}</a>
                                        </div>
                                        <div class="col s6 right-align">
                                            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                <input type="hidden" class="member-id" value="{{ member.email }}" />
                                                <button class="btn-contact btn waves-effect waves-light btn modal-trigger" data-target="modal-contact" type="button"><i class="fa fa-message"></i> {{ 'Contacter' | trans }}</button>
                                            {% else %}
                                                {% if member.email %}
                                                    <div>
                                                        <a href="mailto:{{ member.email }}"><i class="fas fa-envelope"></i> {{ member.email }}</a>
                                                    </div>
                                                {% endif %}
                                                {% if member.telephone %}
                                                    <div>
                                                        <a href="tel:{{ member.telephone }}"><i class="fas fa-phone"></i> {{ member.telephone }}</a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="center-align"><em>{{ 'Nous avons trouvé personne avec ces critères' | trans }}</em></p>
                {% endif %}
            </div>
        </div>
    </main>
    {{ include('common/footer.html.twig', {lang_switcher: true}) }}
{% endblock %}
